

<div class="row-fluide-movie ">
    <div class="card">
        <div class="card-body detail-movie">
            <div class="container">
                    <div class="row" id="up">
                        <div class="col-md-6" id="titulo">
                            <div class="card-fluid">
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <h4>{{detail.original_title}}</h4>
                                    </div>
                                    <hr>
                                    <div class="row justify-content-center ">
                                            <div class= "col-md-12">
                                                <img   class="img-fluid" [src]="this.imgURL+this.detail.poster_path" >
                                            </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-md-12" >
                                            <bar-rating style="width: fixed" [readOnly]="'true'" [(rate)]="this.detail.vote_average" [max]="10" [theme]="'stars'"></bar-rating>        
                                        </div>
                                    </div>
                                    <div class="row mce-fixed-widt justify-content-center" style="text-align: center">
                                        <div class="col-md-12">
                                            <pre >Rate: <b>{{detail.vote_average}}</b></pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="col-md-6" id="overview">
                                <div class="row justify-content-center" style="margin-bottom: 5px">
                                        <h5>{{detail.tagline}}</h5>
                                </div>
                                <div class="row">
                                    <p>{{detail.overview}}</p>
        
                                </div>
                        </div>
                    </div>
            </div>
            <div class="container" id="ele">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Cast</h3>
                        <hr>
                    </div>
                    <div class="col-md-12">
                        <div class="w3-card-4">
                            <img src="./assets/images/poba.png" alt="Alps">
                            <div class="w3-container w3-center">
                              <p>The Italian / Austrian Alps</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                            <h3>Similars Movies</h3>
                            <hr>
                    </div>
                    
                    <div class="col-md-12">
                            <h4>Peliculas</h4>
                    </div>
                </div>  
            </div>
           

        </div>

    </div>



</div>
