.row-fluide-movie{
    padding: 30px 30px;
    padding-top: 100px;
    
}

.card-body.detail-movie{
    padding-left: 80px;
    padding-right: 70px;
    padding-top: 100px; 
}

#ele{
    padding-left: 70px;
}
#up{
    margin-left: 20px
}
#overview{
    margin-top: 70px; 
}
.br-units{
    justify-content: center
}

@media screen and (width: 768px) {
    #overview{
        margin-top: 90px;
    }
    #titulo{
        padding-left:20px;    

    }
    .card-body.detail-movie{
        padding: 50px;
    }
}


@media screen and (max-width: 767px) {

    .card-body.detail-movie{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
    }
    #overview{
        margin-top: 0px;
        padding-left:20px;
        padding-right: 20px;
    }
    #ele{
        padding-left: 40px;
    }
   

}