.page-footer{
    background-color: rgb(255,200,33,0.6)
   
}
.nav-pills > li > a.active {
    background-color: #FFC821;
}


.custom-toggler.navbar-toggler {
    border-color: rgb(232,176,7);
    background:rgb(214, 203, 169);    
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(64,48,2, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar{
    overflow: top;
    z-index: 1000;
    width:fill;
    margin-bottom: 20px;
    position: fixed;
    
}
