

<div class="row-fluide-movie ">
    <ngx-spinner></ngx-spinner> 
    <div class="card">
        <div class="card-body detail-movie">
            <div class="container">
                    <div class="row" id="up">
                        <div class="col-md-6" id="titulo">
                            <div class="card-fluid">
                                <div class="card-body">
                                    
                                    <div class="row justify-content-center">
                                        <h4>{{detail.original_name}}</h4>
                                    </div>
                                    <hr>
                                    <div class="row justify-content-center ">
                                       
                                            <div class= "col-md-12">
                                                    <img   class="img-fluid" [src]="this.imgURL+this.detail.poster_path" >
                                            </div>
                                         
                                        
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-md-12" >
                                            <bar-rating style="width: fixed" [readOnly]="'true'" [(rate)]="this.detail.vote_average" [max]="10" [theme]="'stars'"></bar-rating>        
                                        </div>
                                    </div>
                                    <div class="row mce-fixed-widt justify-content-center" style="text-align: center">
                                        <div class="col-md-12">
                                            <pre >Rate: <b>{{detail.vote_average}}</b></pre>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                                <h3 class="lok" >Facts</h3> 
                                                <hr>
                                        </div>
                                            
                                    </div>
                                   
                                    <div class="row">
                                            <h5 class="lok" >Original Countries:</h5> 
                                    </div>
                                    
                                    <div  class="row " id="flag" >
                                        
                                    </div>
                                    <div class="row">
                                            <h5 class="lok" >Status:</h5>             
                                    </div>
                                    <div class="row">
                                            <h6>{{detail.status}}.</h6>
                                    </div>
            
                                    <div class="row">
                                            <h5 class="lok" >Episodes:</h5>             
                                    </div>
                                    
                                    <div class="row">
                                            <h6>{{detail.number_of_episodes}}</h6>
                                    </div>
                                    <div class="row">
                                            <h5 class="lok" >Seasons:</h5>             
                                    </div>
                                    <div class="row">
                                            <h6>{{detail.number_of_seasons}}</h6>
                                    </div>
                                    <div class="row">
                                            <h5 class="lok" >Genres:</h5>            
                                    </div>
                                    <div class="row" id="gene">
                                                    
                                    </div>

                                    <div class="row">
                                            <h5 class="lok" >Last Episode:</h5>            
                                    </div>
                                    <div class="row">
                                            <div class="card mb-3" style="max-width: 540px;">
                                                    <div class="row no-gutters">
                                                      <div class="col-md-4">
                                                        <img [src]="this.imgURL+this.detail.backdrop_path" class="img-fluid" alt="...">
                                                      </div>
                                                      <div class="col-md-8">
                                                        <div class="card-body">
                                                          <h5 class="card-title">{{detail.last_episode_to_air.name}}</h5>
                                                          <h6 class="card-title">Seasion {{detail.last_episode_to_air.season_number}}, Episode {{detail.last_episode_to_air.episode_number}} </h6>
                                                          
                                                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                                          <p class="card-text"><small class="text-muted">Last updated {{detail.last_air_date}}</small></p>
                                                        </div>
                                                      </div>
                                                    </div>
                                            </div>
                                    </div>
                                   


                                </div>
                            </div>
                        </div> 
                        <div class="col-md-6" id="overview">
                    
                                <div class="row">
                                    <p>{{detail.overview}}</p>
                                </div>
                        </div>
                    </div>
            </div>
            <div class="container" id="ele">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Cast</h3>
                        <hr>
                    </div>
                <div class="row">
                    <div *ngFor="let item of credit.slice(0,12)" class="prob" [routerLink]="['/ActorDetails',item.id]">
                        <div class="card cast " style="width: 160px;" >
                                <img class="card-img-top img-fluid" [src]="this.imgURL+item.profile_path">
                                <div class="card-body">
                                    <h6 class="card-title">{{item.name}}  </h6>
                                    <div class="row justify-content-center">
                                        <p>{{item.character}}</p>  
                                    </div>
                                                                  
                                </div>
            
                        </div>
                    </div>
                    
                </div>
            
                <div class="row" style="padding-top:20px ">
                    <div class="col-md-12">
                            <h3>TV Shows Similars</h3>
                            <hr>
                    </div>
                    
                    <div class="row" style="padding-top:20px ">
                            <div *ngFor="let item of similarTv.slice(0,12)" class="prob" [routerLink]="['/tvDetails',item.id]">
                                <div class="card cast " style="width: 160px;" >
                                        <img class="card-img-top img-fluid" [src]="this.imgURL+item.poster_path">
                                        <div class="card-body">
                                            <h6 class="card-title">{{item.name}}</h6>
                                        </div>
                    
                                </div>
                            </div>
                    </div>
                </div>  
            </div>
           

        </div>

    </div>
    


</div>
