
<div class="row-fluide">
    <div class="row" id="popularBox" style="background-color:white" >
        <div class="col-md-12" >
            <h1 class="titles" >Most Populars</h1>
            
            <ngb-carousel *ngIf="images"  >
                    <ng-template ngbSlide>
                    <a [routerLink]="['/MovieDetails',this.movies[0].id]">
                
                        <img [src]="this.imgURL+this.movies[0].backdrop_path" [alt]="this.movies[0].name" class="img-carousel">
                        <div class="carousel-caption">
                        <h3 style=" text-shadow: 2px 2px grey;">Movie Of The Moment</h3>
                        <p style=" text-shadow: 2px 2px grey;" >{{movies[0].original_title}}</p>
                        </div>
                    </a>
                    </ng-template>
                    <ng-template ngbSlide>
                    <a  [routerLink]="['/tvDetails',this.tvs[0].id]">
                            <img [src]="this.imgURL+this.tvs[0].backdrop_path" [alt]="this.tvs[0].name" class="img-carousel">
                            <div class="carousel-caption">
                            <h3  style=" text-shadow: 2px 2px grey;">TV'Show Of The Moment</h3>
                            <p >{{tvs[0].original_name}} </p>
                            </div>
                    </a>
                    </ng-template>
                    <ng-template ngbSlide>
                    <a [routerLink]="['/ActorDetails',this.actors[0].id]">
                        <img  onError="this.src='./assets/images/image-not-available.jpg'" [src]="this.imgURL+this.actors[0].profile_path" [alt]="this.actors[0].name" id="actoimg" class="img-carousel">
                        <div class="carousel-caption">
                        <h3  style=" text-shadow: 2px 2px grey;" >Actor Of The Moment</h3>
                        <p style=" text-shadow: 2px 2px grey;">{{actors[0].name}}</p>
                        </div>
                    </a>
                    </ng-template>
            </ngb-carousel>
        </div>
                    
    </div> 
    <ngx-spinner></ngx-spinner>
    <div class="row block"  #movie >
        <div class="col-md-12" id="lol" >
            <div class="card main">
                <div class="card-header" >
                    <h4 >Popular Movies.</h4>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                            <div *ngFor="let item of movies | paginate : { itemsPerPage:12, currentPage: p1,id: 'mov'}">
                                <div class="card card-movie " style="width: 300px; ">
                                    
                                    <div class="card-body go" >
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <h5 class="card-title">{{item.title}}({{item.release_date.slice(0,4)}})</h5>
                                                <hr>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <img onError="this.src='./assets/images/image-not-available.jpg'" [src]="this.imgURL+item.backdrop_path"  style=" height: 200px" class="card-img-top" [alt]="item.title">
                                        
                                        </div>

                                        <div class="row justify-content-center">
                                            
                                            <bar-rating  style="width: 250px; " [readOnly]="'true'" [(rate)]="item.vote_average"[max]="10" [theme]="'stars'"></bar-rating> 
                                        </div>
                                        <div class="row  justify-content-center">
                                                <pre>Rate: <b>{{item.vote_average}}</b></pre>
                                        </div>
                                        <div class ="row">
                                                <div class="cut-text">
                                                    {{recortar(item.overview)}} 
                                                </div>
                                        </div>
                                       
                                    </div>
                                    <div class="showInfo" [routerLink]="['/MovieDetails',item.id]" >
                                        <div class="text">
                                            <i class="fas fa-info"></i> info
                                        </div>
                                    </div>      
                                    
                                </div>
                                
                            </div>
                            
                    </div>
                    <div class="row justify-content-center" >
                       
                        <pagination-controls (pageChange)="p1 = $event" id="mov"></pagination-controls>
                        <a (click)="scroll(movie)"  class="btn btn-warning"><i class="fas fa-chevron-up"></i></a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="row block" #tv>
        <div class="col-md-12">
            <div class="card" >
                <div class="card-header">
                    <h4>Populars TVShows.</h4>
                </div>
                <div class="card-body ">
                        <div class="row justify-content-center">
                            <div *ngFor="let item of tvs | paginate: { itemsPerPage:12, currentPage: p2, id: 'tvts'}">
                                <div class="card card-movie   " style="width: 300px ">
                                    <div class="card-body go" >
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <h5 class="card-title">{{item.original_name}}({{item.first_air_date.slice(0,4)}})</h5>
                                                <hr>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <img onError="this.src='./assets/images/image-not-available.jpg'" [src]="this.imgURL+item.backdrop_path" style=" height: 200px"  class="card-img-top" [alt]="item.title">
                                        </div>

                                        <div class="row justify-content-center">
                                                <bar-rating  style="width: 250px; " [readOnly]="'true'" [(rate)]="item.vote_average"[max]="10" [theme]="'stars'"></bar-rating> 
                                        </div>
                                        <div class="row justify-content-center">
                                                <pre>Rate: <b>{{item.vote_average}}</b></pre>
                                        </div>
                                        <div class ="row">
                                            <div class="cut-text">
                                                {{recortar(item.overview)}} 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="showInfo"  [routerLink]="['/tvDetails',item.id]" >
                                        <div class="text">
                                            <i class="fas fa-info"></i> info
                                        </div>
                                    </div>     
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center" >              
                            <pagination-controls (pageChange)="p2 = $event" id="tvts" ></pagination-controls>
                            <a (click)="scroll(tv)" class="btn btn-warning"><i class="fas fa-chevron-up"></i></a>  
                        </div>
                </div>
            </div>
        </div>    
    </div>
    <div class="row block" #actor >
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                        <h4>Populars Actors.</h4> 
                </div>
               
                <div class="card-body">
                        <div class="row justify-content-center">
                            <div *ngFor="let item of actors | paginate: { itemsPerPage:12, currentPage: p3, id: 'act'}">
                                <div class="card card-movie " >
                                    <div class="card-body go"  style="width: 200 ; height: 200">
                                        <div class="row-fluid justify-content-center">
                                                <h5 class="card-title">{{item.name}}</h5> 
                                                <hr>
                                        </div>
                                        <div class="row justify-content-center">
                                            <img [src]="this.imgURL+item.profile_path" style="width: 200px; height: 240px; border-radius: 5px"   class="img-fluid" [alt]="item.title">
                                        </div>

                                        <div class="row">
                                            <div class="col-12 align-items-center"></div>

                                        </div>
                                        <div class="row"> 
                                            <div class="cut-text-actor">
                                                {{item.known_for.map(myFunction)}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="showInfo"   [routerLink]="['/ActorDetails',item.id]">
                                        <div class="text">
                                            <i class="fas fa-info"></i> info
                                        </div>
                                    </div>     
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center" > 
                            <pagination-controls (pageChange)="p3 =$event" id="act" ></pagination-controls>
                            <a (click)="scroll(actor)" class="btn btn-warning"><i class="fas fa-chevron-up"></i></a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>      



